entrypoint = "app.py"
modules = ["flask", "python-3.11", "python-3.13.1"]
run = "python app.py"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python ./app/app.py"]

[[ports]]
localPort = 8080
externalPort = 80
